*.pyc
*.pyo
*.class
*~
*#
dist/
build/
*.egg-info/
.idea/
.DS_Store
.tox/
*.iml
.coverage
coverage.xml
assets/
report.html
tests_outputs/
.python-version
test.yaml
.vscode
#the following is about the cdk app
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

pcluster3.7_env/
